.detail-wrapper {
  .detail-top {
    width: 100vw;
    height: 443px;
    background: #fff;
    .detail-back {
      width: 11px;
      height: 21px;
      background: url('../../assets/back.png') no-repeat;
      background-position: center;
      background-size: contain;
      vertical-align: middle;
      margin: 20px 0 0 20px;
    }
    .detail-show-img-wrapper {
      text-align: center;
      margin-top: 26px;
    }
    .detail-show-img {
      display: inline-block;
      width: 155px;
      height: 155px;
      margin: 0 auto;
    }
    .detail-show-text {
      width: 360px;
      height: 37px;
      font-size: 16px;
      font-family: PingFang;
      font-weight: 500;
      color: #1C1C1C;
      line-height: 23px;
      margin: 13px auto 22px;
      text-align: left;
    }
    .detail-list {
      list-style: none;;
      display: -webkit-box;
      overflow-x: auto;
    }
    .detail-list::-webkit-scrollbar {
      display: none;
    }
    .detail-list-item {
      width: 60px;
      height: 105px;
      background: #FFFFFF;
      border: 1px solid #FF0026;
      border-radius: 6px;
      margin-right: 11px;
    }
    .detail-list-item:nth-child(1) {
      margin-left: 12px;
    }
  }
}